.DS_Store
.vscode/
__pycache__/
*.py[cod]
.venv/
.env
models/*
!models/README.md
outputs/*
!outputs/.gitkeep
data/**
!data/README.md
!data/raw/
!data/raw/README.md
!data/raw/.gitkeep
!data/raw/laws/
!data/raw/laws/.gitkeep
!data/processed/
!data/processed/.gitkeep
.hf_dataset/
*.log
*.tmp
